@font-face {
	font-family: 'Regular';
	src: url('fonts/applefont.otf);
}
@font-face {
	font-family: 'Titles';
	src: url(fonts/GoogleSans-Medium.ttf);
}
body {
	background-color: #222;
	font-family: 'Regular';
	font-size: 18px;
	color: white;
	padding-top: 40px;
}
h1 {
	font-family: 'Titles';
	font-weight: 900;
}
h2 {
	font-family: 'Titles';
	text-align:center;
	width:100%;
	background-color: #333333;
}

.bn3637 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 2rem;
	font-family: "Titles";
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #5f8aff;
	backface-visibility: hidden;
	border: solid transparent;
	border-radius: 0.5rem;
}

.bn37 {
	margin: 10px;
	position: relative;
	border-color: transparent;
	background-color: #5f8aff;
	color: #000;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
	
.bn37:hover {
 /* transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important; */
  background-color: #89bbff;
}


center {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		flex-wrap: wrap;
	 /* pointer-events: none; */
}



.logo {
		height: 80px;
		border-radius: 20px;
		transform: translateX(-10px); 
}

footer {
		text-align: center;
		margin: 30px 0 10px 0;
}
.footer-link {
		color: #5f8aff;
		font-size: 16px;
		padding: 7px 18px;
		text-decoration: none;
		transition: 0.2s;
		border-radius: 50px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
}

.footer-link:hover {
		background-color: #5f8aff;
		color: #222;
}

.footer-link span {
		font-size: 0px;
		transition: 0.4s;
}

.footer-link:hover span {
		display: block;
		font-size: 14px;
		margin-left: 10px;
}

.footer-link svg {
		fill: #5f8aff;
		height: 30px; width: 30px;
		transition: 0.3s;
}

.footer-link:hover svg {
		fill: #222;
}

@media only screen and (max-width: 1100px) {
		center {margin-bottom: 70px;}
		.dl-container {
				background: none;
				display: block;
				margin: 0; padding: 0;
				width: 100vw;
				height: max-content;
		}
		.dl-container .applebox {display: block;}
		.dl-container div {
				width: 90vw;
				padding: 0;
				margin: 0;
				background: none;
				border: 2px solid #555;
				border-radius: 15px !important;
				margin-top: 30px;
		}
		.dl-container div:hover {background: none;}
		.dl-container div element {
				width: 100%;
				margin: 0;
				opacity: 1;
		}
		.dl-container div element a {background-color: #353a50;}
		.android, .ios {display: flex;}
		.no-mob {display: none;}
		footer {margin-top: 20px;}
		.footer-link {padding: 10px 20px;}
		.footer-link span {display: none;}
		.footer-link:hover span {display: none;}
}
