body {
    background-color:#333;
    color: #fff;
    font-family: Helvetica;
    text-align: center;
}
.d1v {
    background-color: #222;
    border: solid #222;
    border-radius: 40px;
    border-width: 15px;
        width: 60%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
}
.t {
    text-align: left;
}
.p {
    color: #f00;
    text-shadow: 0px 0px 12px #f00;
  }
  .l {
    color: orangered;
    text-shadow: 0px 0px 3px orangered;
  }
  .f {
    font-family: monospace;
  }
.s {
    color: #000;
    background-color: #000
}
.s:hover {
    color: #fff;
    background-color: #222
}
.i {
	width: 300px;
	margin: 10px;
    float: right;
}
